.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 448px) {
    width: 448px;
  }
  @media screen and (min-width: 720px) {
    width: 720px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.hero__container {
  display: flex;
  width: 100%;
  padding: 0;
  @include tab {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include desk {
    width: 1200px;
  }
}

.container__reasons {
  display: flex;
  flex-direction: column-reverse;
  @include desk {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.container__pre-footer {
  @include desk {
    display: flex;
  }
}

.container__footer {
  @include tab {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-connect__btn {
  display: block;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--button-second-color);

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  min-width: 160px;
  min-height: 40px;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--button-first-color);
  }
}
